<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin name="TDDOnto2">
    <extension id="TestsViewComponent"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="TDDOnto2"/>
        <class value="za.ac.uct.cs.tddonto2.TestSuiteViewComponent"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>
</plugin>